body {
  background-image: url('../../../public/images/img-3.jpg'); /* Arka plan resminin yolunu belirtin */
  background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Varsayılan yazı tipi belirleyebilirsiniz */
    color: #333; /* Varsayılan metin rengi belirleyebilirsiniz */
  overflow-y: auto;
}
.chat-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-image: url('../../../public/images/img-6.jpg');
    background-size: cover;
  }
  
  
  /* Mesajların listesi */
  #messages {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px; /* İstenilen font boyutu */
    color: #555; /* Yazı rengi */
  }
  
  /* Her bir mesaj */
  #messages li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    color: black; /* Mesaj rengi */
  }
  
  /* Mesaj input alanı ve butonu */
  .message-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .message-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .message-input button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.message {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.chat-info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 18px; /* İstenilen font boyutu */
  font-weight: bold; /* İstenilen font kalınlığı */
  color: #333; /* Yazı rengi */
}
.chat-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  flex: 1; /* Alanın genişlemesini sağlamak için */
}

.chat-group__card-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
  