/* Ekranda tam ekran bir görsel görüntüsü eklemek için */
.chat-group__container {
  background-image: url('../../../public/images/img-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: auto; /* Ekranda fazla içerik olduğunda kaydırma çubuğu görüntülenir */
}

/* Sayfa başlığı ve bilgileri */
.chat-group__name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #0d3559cf;
  margin-bottom: 0.5rem;
}

.chat-group__email {
  font-size: 1.2rem;
  color: #0d3559cf;
}

/* Kartlar için düzen */
.chat-group__cards-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  overflow-x: auto; /* Kartlar yatay olarak sığmazsa kaydırma çubuğu görüntülenir */
}

.chat-group__cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Kart stilini güncelle */
.chat-group__card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; /* Kartların genişliği */
}

.chat-group__card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
  color: #888;
}

.chat-group__card-email {
  font-size: 1rem;
  margin: 0;
  color: #888;
}

.chat-group__card-button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  width: 100%; /* Düğmeleri kart genişliğine sığdır */
}

.chat-group__card-button:hover {
  background-color: #ff4f4f;
}

.remove-button {
  background-color: #ff726b;
}

.remove-button:hover {
  background-color: #ff4f4f;
}

.add-button {
  background-color: #6bff9c;
}

.add-button:hover {
  background-color: #4fff77;
}

/* Bölüm başlıkları */
.chat-group__section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #0d3559cf;
  align-self: flex-start; /* Bölüm başlığını sola hizala */
  width: 100%; /* Genişlik boyunca uzanmasını sağla */
  padding-left: 1rem; /* Sol kenar boşluğu ekle */
}
