/* ChatGroupCards.css */
.cards__item__label {
  font-size: 14px;
  font-weight: 700;
  color: #1f98f4;
  margin-bottom: 0.5rem;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 1rem;
}
/* CardItem.css */
.cards__item {
  display: flex;
  flex: 1;
  margin: 0 0.5rem; 
  border-radius: 10px;
  min-width: 150px; 
  max-width: 100px;
}

